* {
  font-family: "Proza Libre", sans-serif;
}

h1,
.entries {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  background-color: #562b81;
  color: white;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  margin: 0 0 1rem;
}

nav {
  padding-top: 1.5rem;
}

label {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: block;
  padding-bottom: 0.5rem;
}

.container {
  background-color: rgb(241, 241, 241);
}

.form {
  padding: 1rem;
}

img {
  padding-bottom: 1rem;
  max-height: 20rem;
  object-fit: cover;
  width: 100%;
}

textarea {
  height: 8rem;
}

button {
  color: rgb(248, 246, 246);
  font-weight: 600;
  background-color: rgb(115, 34, 190);
  padding: 2px 12px;
}

.button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  width: 100%;
}

.entries,
.save-button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.no-entries {
  text-align: center;
}

.page-header {
  background-color: #562b81;
}

.save-button {
  margin: auto;
  margin-right: 0;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 100%;
}

.hidden {
  display: none;
}

.fas,
.fa-pen {
  font-size: 24px;
  color: #68329e;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid lightgray;
}

img,
input,
textarea,
button {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  img {
    max-height: 40rem;
    padding-right: 1rem;
  }
}
